/* Navigation */
.nav-container {
  margin: 0 auto;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  position: fixed;
  height: fit-content;
  background: white;
  opacity: 0.7;
}
.brand {
  height: 100px !important;
  margin-left: 28px;
}
nav {
  display: flex;
  align-items: center;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
a {
  margin-right: 24px;
  text-decoration: none;
  font-size: 22px;
  &:hover {
    color: red;
  }
}
#about-us {
}
#members {
}
#support-organization {
}
/* Content */
body {
  margin: 0px;
}
/* Banner */
.banner {
  background-image: url("images/Background_banner.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
}
.banner-layout {
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  height: inherit;
  justify-content: center;
  margin-left: 28px;
}
h1 {
}
.banner-describtion {
  width: 33%;
}
/* About us */
.lessons {
  display: flex;
  justify-content: center;
}
.lesson {
  width: 30%;
  padding: 12px;
}
h2,
.about-us-describtion-wrapper {
  width: 100%;
  text-align: center;
}
.about-us-describtion-wrapper {
  display: flex;
  justify-content: center;
}
.about-us-describtion {
  width: 40%;
}
.lesson-img {
  width: 100%;
}
#lesson-paragraph {
  width: 100%;
  text-align: center;
}
/* Motivation */
.motivation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Footer */
footer {
  display: flex;
}
.footer-cpmpany-wrapper,
.footer-links-wrapper,
.footer-founder-wrapper {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 3em;
}
.footer-cpmpany-wrapper {
}
.footer-links-wrapper {
}
.footer-founder-wrapper {
}
